html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #ffffff;
  color: #111827;
}

a {
  color: inherit;
  text-decoration: none;
  color: #63f3ab important;
}

* {
  box-sizing: border-box;
}

h1 {
  line-height: 40px;
  color: #111827;
  font-weight: 500;
}

code {
  font-size: 14px !important;
}

small {
  color: #95989f;
}

blockquote {
  background-color: white;
  margin: 0;
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 5px;
  color: black;
  opacity: 0.7;
  border-left: 8px solid #63f3ab;
  font-style: italic;
  font-size: 0.9rem;
}

.isActive {
  font-weight: 400 !important;
  color: #63f3ab !important;
}

.hidden {
  display: none;
}

#bmc-wbtn {
    margin-bottom: 70px !important;
  }

@media only screen and (min-width: 1025px) {
  #bmc-wbtn {
    margin-bottom: 0px !important;
  }
}


