html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  line-height: 40px;
}

code {
  font-size: 14px !important;
}

small {
  color: rgb(199, 198, 199);
}
